#root, .App {
  position: relative;
  min-width: 100%;
  min-height: 100%;
  height: inherit;
  overflow: hidden;
}

#root {
  padding: 100px;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
}