#root, .App {
  position: relative;
  min-width: 100%;
  min-height: 100%;
  height: inherit;
  background-color: #f5ece5;
}

#root {
  overflow: hidden;
}

.AppWrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}