.Root {
    position: relative;
    background-color: transparent;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .Wrapper {
        position: relative;
        width: 25rem;
        height: 50px;

        & span {
            position: absolute;
            display: block;
            z-index: 1;
            pointer-events: none;
            &:nth-child(1) {
                width: 64px;
                height: 128px;
                left: -64px;
                top: -128px;
                background-color: #0951b0;
                transform-origin: bottom right;
            }
            &:nth-child(2) {
                width: 80px;
                height: 64px;
                left: 100%;
                top: -64px;
                background-color: #f7c344;
                transform-origin: bottom left;
            }
            &:nth-child(3) {
                width: 32px;
                height: 32px;
                left: -32px;
                top: 100%;
                background-color: #ee3635;
                transform-origin: top right;
            }
            &:nth-child(4) {
                width: 32px;
                height: 64px;
                left: 100%;
                top: 100%;
                background-color: #000000;
                transform-origin: top left;
            }

        }
        &:hover {
            & span {
                &:nth-child(1) {
                    transform: scale(1.5);
                }
                &:nth-child(2) {
                    transform: scale(1.5);
                }
                &:nth-child(3) {
                    transform: scale(1.5);
                }
                &:nth-child(4) {
                    transform: scale(1.5);
                }
            }
        }

        input {
            position: relative;
            width: 100%;
            height: 100%;
            cursor: pointer;
            display: block;
            &::after {
                content: 'Select an image';
                position: absolute;
                top: 0;
                left: 0;
                pointer-events: none;
                display: flex;
                justify-content: center;
                color: black;
                font-size: 1rem;
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                align-items: center;
                width: 100%;
                height: 100%;
                background-color: white;
            }
            &:hover::after {
                background-color: black;
                color: white;
            }
        }
    }
}